<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des patients</title>
</head>
<body>
    <h1>Liste des patients</h1>
    <ul>
        <li th:each="patient : ${patients}">
            <span th:text="${patient.id}"></span>
            <span th:text="${patient.firstName}"></span>
            <span th:text="${patient.lastName}"></span>
            <span th:text="${patient.gender}"></span>
            <span th:text="${patient.birthDate}"></span>
            <span th:text="${patient.email}"></span>
        </li>
    </ul>
</body>
</html>